@model  University.UI.Areas.Admin.Models.ProductFAQVideoViewModel

<form onsubmit="SaveProductFormFaqVideo(event)" name="ProductFormFaqVideo" enctype="multipart/form-data" method="post" action="/Admin/Product/SaveProductProductFAQVideo">
    <div class="row py-2"  data-backdrop="static" data-keyboard="false">
        @if (string.IsNullOrWhiteSpace(Model.VideoURL))
        {

            <div class="col">
                @Html.HiddenFor(y => y.ProductFAQsId)
                @Html.Hidden("FaqVideoId", Model.Id)
                @Html.TextBoxFor(m => m.VideoURL, new { @class = "form-control ", @required = "required" })
                @*@Html.TextBoxFor(m => m.VideoURL, new { @class = "form-control", @required = "required", @pattern = @"^https?:\/\/[a-zA-Z0-9_\-]+\.[a-zA-Z0-9_\-]+\.[a-zA-Z0-9_\-/]+$", title = "Ex : https://player.vimeo.com/video/322925106" })*@
            </div>
        }
        else
        {
            <div class="col">
                @Html.HiddenFor(y => y.ProductFAQsId)
                @Html.Hidden("FaqVideoId", Model.Id)
                @Html.TextBoxFor(m => m.VideoURL, new { @class = "form-control", @required = "required" })
                @* @Html.TextBoxFor(m => m.VideoURL, new { @class = "form-control", @required = "required", @pattern = @"^https?:\/\/[a-zA-Z0-9_\-]+\.[a-zA-Z0-9_\-]+\.[a-zA-Z0-9_\-/]+$", title = "Ex : https://player.vimeo.com/video/322925106" })*@
                @*@Html.TextBoxFor(m => m.VideoURL, new { @class = "form-control", @required = "required"})*@
            </div>
        }
        @*<div class="col">
                @if (!string.IsNullOrWhiteSpace(Model.VideoFullPath))
                {
                    <a onclick="window.open('/Admin/Product/PlayVideo?url=@Model.VideoURL', ''); return false;" href="" target_="blank"><img width="100px" height="70px" class="Thumbnail" src="@Model.ImageFullPath" onerror="this.onerror = null; this.src = '/images/PreviewNotAvailable.jpg';"/></a>
                }
                else
                {
                    <img width="100px" height="70px" class="Thumbnail" src="@Model.ImageFullPath" />
                }
                <br />
                <input type="file" onchange="readURLThumnale(this);" class="FileInput" name="FAQVideoImg" accept="image/*" />
            </div>*@
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Save" />
            <input type="button" class="btn btn-primary" value="Delete" onclick="DeleteFAQVideo(this,'@Model.Id')" />
        </div>

    </div>
</form>



