@model IEnumerable<University.UI.Areas.Admin.Models.ProductViewModel>

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td.dollar:before
    {
  content: "$";
}
     .pointer {
            cursor: pointer;
        }

</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2" style="        margin-top: 10px
">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Course</h1>
            </div><!-- /.col -->
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/index">Administration</a></li>
                    <li class="breadcrumb-item active">Course</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row justify-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            @*<button type="button" class="btn btn-primary btn-sm b-w-80" onclick="AddProduct()">*@
                            <button title="Add" type="button" class="btn btn-primary btn-sm b-w-80 tested" onclick="AddProduct()">
                                Add
                            </button>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="ProductTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Course Title</th>
                                    <th>Rate</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.subcat</td>
                                    <td>@item.Title</td>
                                    <td class="dollar">@item.sumvideorate</td>
                                    <td>
                                        @*<input name="AssocitedID" id="BasicDeatilsAssocitedID" type="hidden" />*@
                                        <i title="Edit" class="fas fa-edit pointer" onclick="AddProducts('@item.Id')"></i>
                                        <i title="Delete" class="fas fa-trash pointer" onclick="DeleteProduct('@item.Id')"></i>
                                        @*<input type="button" class="btn-primary-ips" value="Edit" onclick="AddProduct('@item.Id')" />
                                         <input type="button" class="btn-primary-ips" value="Delete" onclick="DeleteProduct('@item.Id')" />*@
                                    </td>
                                </tr>
                                    }
                                </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@* Add Edit Form *@
<div style="display:none;">
    <form id="AddEditForm" method="post" action="@Url.Action("AddEditProduct","Product", new { area = "Admin" })">
        <input type="text" id="ProductId" name="ProductId" />

    </form>
</div>

<script>
    //$('.addproduct').click(function () {
    //    if ($('#ddlusrlst').val() == 0) {
    //        _showErrorMessage("First Select User");
    //    }
    //    else
    //    {
    //        AddProduct();
    //    }

    //})



    $(document).ready(function () {
        $('#ProductTable').DataTable();
        $('#BasicDeatilsAssocitedID').val($("#ddlusrlst").val());
    });
    
    function AddProduct(Id) {
        
        // $(".imagereqbd").attr("required", true);
        var form = $("#AddEditForm");
     
        $("#ProductId").val(Id);
       
        form.submit();
        //alert();
        //$('#imagereqbd').attr('required', 'required');
        //$("#imagereqbd").attr("required", false);
       // $('.imagereqbd').attr("disabled", 'required');
        // $('.imagereqbd').prop('required',true);
    }

    function AddProducts(Id) {
        
        var form = $("#AddEditForm");
     
        $("#ProductId").val(Id);
       
        form.submit();
    }
    function DeleteProduct(Id) {
        $("#DeleteConfirmationModal").modal('show');
        $(document).on('click', 'button#confirmation-yes', function () {
            $.ajax({
                type: "POST",
                url: "/Admin/Product/DeleteProduct",
                data: { Id: Id }, // serializes the form's elements.
                success: function (data) {
                    //alert("Data Deleted Successfully"); // show response from the php script.
                   // location.reload();
                     _showSuccessMessage("Data Deleted Successfully");
                     setTimeout(function () { location.reload(); }, 1000);
                }
            });
        });
    }


   
</script>
