@using University.UI.Utilities;
@model  IEnumerable<University.UI.Areas.Admin.Models.ProductViewModel>

@{
    ViewBag.Title = "ProductListByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ips-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
        padding: 10px;
    }

    .product-info {
        margin-top: 20px;
        padding-bottom: 50px;
        padding: 0px 100px;
    }

    .product-title {
        text-align: center;
    }

        .product-title .category {
            font-size: 1rem;
        }

        .product-title .sub-category {
            font-size: 1.5rem;
        }

    .product-card {
        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    }
    .product-img {
        background: #efefef;
        border-bottom: 2px solid #00BCD4;
    }
    .product-tabs {
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        padding: 10px 0px;
    }
</style>


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Product Information</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" aria-current="page"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/Home/Category">Products</a></li>
                    @if (!string.IsNullOrWhiteSpace(ViewBag.CategoryName))
                    {
                        <li class="breadcrumb-item active" aria-current="page">@System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(@ViewBag.CategoryName?.ToLower() ?? "")</li>
                    }
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row justify-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="ips-logo">
                            <img src="~/images/university-logo.png" alt="slide" width="140" onerror="this.onerror = null; this.src = '/images/NoImageAvailable.jpg';">
                        </div>
                        <div class="product-info">
                            <div class="product-title">
                                <p class="category"><a href="/Home/Category">Products</a></p>
                                <p class="sub-category"> @ViewBag.CategoryName </p>
                            </div>
                            <div>
                                <div class="product-list-content">
                                    <div class="row">
                                        @foreach (var product in Model)
                                        {
                                            <div class="col-md-4">
                                                <div class="product-card">
                                                    <div class="product-img">
                                                        <a class="listitemProductName" href="/Products/ProductsById?ProductId=@UrlSecurityManager.Encrypt(product.Id.ToString(),System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])">
                                                            <img class="" src="~/Uploads/Product/@product.ImageURL" alt="slide" width="100%" onerror="this.onerror = null; this.src = '/images/NoImageAvailable.jpg';">
                                                        </a>
                                                    </div>
                                                    <div class="product-tabs">
                                                        <div class="product-name">
                                                            <a href="/Products/ProductsById?ProductId=@UrlSecurityManager.Encrypt(product.Id.ToString(),System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])">
                                                                <h1> @product.Title</h1>
                                                            </a>
                                                        </div>
                                                        <div><a href="#" style="cursor: pointer;" onclick='goToMenu("user-guide","@UrlSecurityManager.Encrypt(product.Id.ToString(),System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])")'>User Guide</a></div>
                                                        <div><a href="#" style="cursor: pointer;" onclick='goToMenu("videos","@UrlSecurityManager.Encrypt(product.Id.ToString(),System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])")'>Videos</a></div>
                                                        <div><a href="#" style="cursor: pointer;" onclick='goToMenu("faq","@UrlSecurityManager.Encrypt(product.Id.ToString(),System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])")'>FAQ</a></div>
                                                        <div><a href="#" style="cursor: pointer;" onclick='goToMenu("specs","@UrlSecurityManager.Encrypt(product.Id.ToString(),System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])")'>Specs</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>
    function viewSubCategories(id) {
        $.ajax("SubCategories?Id=" + id, function (data) {
            //alert(data);
        });
    }
    function goToMenu(menu, id) {
        sessionStorage.setItem("menu", menu);
        window.location.href = '/Products/ProductsById?ProductId=' + id;
    }
</script>

