@model IEnumerable<University.UI.Areas.Admin.Models.ProductVideoViewModel>
@*@model IEnumerable<University.Data.ProductVideos>*@
@using University.UI.Utilities;

@{
    /**/

    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #search-container {
        padding: 10px;
    }

    #txtProductVideo {
        padding: 25px;
    }
     .overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.3;
    }
     .wrapper1 {
    text-align: right;
}

.button {
    position: absolute;
    top: 50%;
}

 /*Videoratedollersymbol*/
    .dollar {
        display: inline-block;
        position: relative;
    }

        .dollar a {
            padding-left: 15px;
        }

        .dollar:before {
            position: absolute;
            content: "$";
            left: 5px;
            top: 8px;
        }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Videos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Videos</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row justify-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div id="search-container" class="input-group">
                            <input id="txtProductVideo" type="text" onkeypress="onEnterKeyPress(event)" class="form-control" placeholder="How do I charge the M5.." aria-label="Smart Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button onclick="onSearchProductVideo()" class="btn btn-outline-secondary" type="button">Search <img class="arrow-icon" src="~/images/arrow-icon.png" alt="slide" width="18"></button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4">
                                    @if(item.IsPaid == true)
                                    {
                                        <iframe class="video v1" width="100%" height="200" src="@item.VideoURL" frameborder="0" allowfullscreen autoplay></iframe>
                                        @*<div class="overlay" style=""></div>*@
                                        <div class="col-12 col-md-10">
                                            <div class="searchItemTitle">
                                                <a class="searchItemTitle" href="~/Products/ProductsById?ProductId=@UrlSecurityManager.Encrypt(item.ProductId.ToString(), System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])">
                                                    @item.Title
                                                </a>
                                            </div>
                                            <p class="block-ellipsis" title="@item.Decription">@item.Decription</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <iframe class="video v1" width="100%" height="200" src="@item.VideoURL" frameborder="0" allowfullscreen autoplay></iframe>
                                        <div class="overlay" style=" height: 200px;"></div>
                                        <div class="col-12 col-md-10">
                                            <div class="searchItemTitle">
                                                <a class="searchItemTitle productname" href="~/Products/ProductsById?ProductId=@UrlSecurityManager.Encrypt(item.ProductId.ToString(), System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])">@item.Title</a>
                                                
                                                <a class="ProductID">@item.ProductId</a>
                                                <a class="SubCatID">@item.SubCatID</a>
                                                <a class="VideoID">@item.Id</a>
                                            </div>
                                            <p class="block-ellipsis" title="@item.Decription">@item.Decription</p>
                                            <div class="mailbox-attachment-info dollar " id="">
                                                <a class="giveamount">@item.VideoRate</a>
                                                @*<a class="ProductID">@item.ProductId</a>*@
                                                @*<a class="giveamount">@item</a>*@
                                                <div class="wrapper1">
                                                    <button type="button" class="button baynowclick" style="margin-left: 150px;margin-top: -15px;">Buy Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<script type="text/javascript">
    function onSearchProductVideo() {
        var text = $("#txtProductVideo").val();
        location.href = "../Video/Video?SearchString=" + text;
    }
    function onEnterKeyPress(event) {
        if (event.key == "Enter")
            onSearchProductVideo();
    }
    $(".baynowclick").on("click", function () {
        var isbuy = true;
         var VideoID = $(this).parent().parent().parent().find('.VideoID').html();
         var ProductID = $(this).parent().parent().parent().find('.ProductID').html();
         var SubCatID = $(this).parent().parent().parent().find('.SubCatID').html();
         var ProductName = $(this).parent().parent().parent().find('.productname').html();
         var Rate = $(this).parent().parent().parent().find('.giveamount').html();
        var h = "/PaymentGateway/GetCardMapping?Videorate="+Rate+ "&Productname=" +ProductName+ "&ProductID=" +ProductID+ "&SubCatID=" +SubCatID+ "&VideoID=" +VideoID+ "&isbuy=" +isbuy;
        window.location.href = h;
    });
</script>