
@{
    /**/

    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>University Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        h6 {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr -->
    <script src="../../plugins/toastr/toastr.min.js"></script>
    <!-- PAGE SCRIPTS -->
    <script src="~/Scripts/custom.js"></script>
</head>
<body class="hold-transition login-page" style="background:#1f2d3d;">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo">
                    <a href="../../index2.html"><b>Online Training Portal</a>
                </div>
                <p class="login-box-msg"></p>

                <form action="~/Login/Login" method="post">
                    <div class="form-group">
                        <label class="fontSize" for="email">Email</label>
                        <div class="input-group mb-3">
                            <input name="UserName" type="text" class="form-control" placeholder="Please enter email" required pattern="^\w+([-+.']\w+)*@Html.Raw("@")\w+([-.]\w+)*\.\w+([-.]\w+)*$" oninvalid="this.setCustomValidity('Please Enter valid Email Id')" oninput="this.setCustomValidity('')">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="fontSize" for="password">Password</label>
                        <div class="input-group mb-3">
                            <input name="Password" id="pwd" type="password" class="form-control " placeholder="Please enter password" required oninvalid="this.setCustomValidity('Please Enter Password')" oninput="this.setCustomValidity('')">
                            <span>
                                <img src="~/Images/eye-16.png" alt="eye" onclick="showHide()" id="eye" style="margin-top: 10px;"/>
                            </span>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="row" style="justify-content:center;">
                            <div class="col-4">
                                <input id="login" type="submit" class="btn btn-primary btn-block" value="LOGIN" />
                                @*<button type="submit" class="btn btn-primary btn-block" value="Login">Login</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @* <div class="row">*@
                        <div class="col-8">
                            @*<div class="icheck-primary">*@
                            <label for="remember">
                                <a href="/Login/ForgotPassword" style="font-family: auto;">Forgot Password?</a>
                            </label>
                            @*</div>*@
                        </div>
                        <!-- /.col -->
                        @*</div>*@
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <h6 class="align-center red-text">@ViewBag.Message</h6>
                    }

                    <!-- /.col -->
                </form>

                @*<div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                        </a>
                    </div>*@@*<div class="social-auth-links text-center mb-3">
                        <p></p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i>
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i>
                        </a>
                    </div>*@
                    <!-- /.social-auth-links -->
                    @*<p class="mb-1">
                            <a href="forgot-password.html">I forgot my password</a>
                        </p>
                        <p class="mb-0">
                            <a href="register.html" class="text-center">Register a new membership</a>
                        </p>*@@*<p class="mb-1">
                            <a href="forgot-password.html"></a>
                        </p>
                        <p class="mb-0">
                            <a href="register.html" class="text-center"></a>
                        </p>*@
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
            <!-- /.login-box -->
            <!-- jQuery -->
            <script src="../../plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- AdminLTE App -->
            <script src="../../dist/js/adminlte.min.js"></script>
            <script src="~/Scripts/custom.js"></script>
            <script>
                $(document).ready(function () {
                    var bool = "@TempData.ContainsKey("Message")";
                    if (bool == 'True') {
                        if ("@TempData["Success"]" == "True") {
                            _showSuccessMessage("@TempData["Message"]");
                        }
                        else {
                             _showErrorMessage("@TempData["Message"]");
                        }
                    }
                });

               function showHide() {
                if (pwd.type == 'text') {
                    pwd.type = 'password';
                }
                else {
                    pwd.type = 'text';
                }
            }
                function show()
                {
                    var a = document.getElementById("pwd");
                    var b = document.getElementById("EYE");
                    if (a.type == "password")
                    {
                        a.type = "text";
                        b.src = "https://i.stack.imgur.com/waw4z.png";
                    }
                    else
                    {
                        a.type = "password";
                        b.src = "https://i.stack.imgur.com/Oyk1g.png";
                    }
                }




            </script>


        </body>
    </html>
