@model IEnumerable<University.UI.Areas.Admin.Models.HomeSliderViewModel>

@{
    ViewBag.Title = "Home Slider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
     .pointer {
            cursor: pointer;
        }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2" style="margin-top:10px">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Home Slider</h1>
            </div><!-- /.col -->
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/index">Administration</a></li>
                    <li class="breadcrumb-item active">Home Slider</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row justify-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <button title="Add" type="button" class="btn btn-primary btn-sm b-w-80 homeslideradd" onclick="AddHomeSlider()">
                                @*<button type="button" class="btn btn-primary btn-sm b-w-80 homeslideradd" >*@
                                    Add
                                </button>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="HomeSliderTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    @*<th class="text-center">Text</th>*@
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                        <tr>
                                            @*<td>@item.Product.Title</td>*@
                                            <td>@item.TextDescription</td>
                                            <td class="text-center">
                                                <i title="Edit" class="fas fa-edit pointer" onclick="AddHomeSlider('@item.Id')"></i>
                                                <i title="Delete" class="fas fa-trash pointer" onclick="DeleteHomeSlider('@item.Id')"></i>
                                                @*<input type="button" class="btn-primary-ips" value="Edit" onclick="AddHomeSlider('@item.Id')" />
                                                    <input type="button" class="btn-primary-ips" value="Delete" onclick="DeleteHomeSlider('@item.Id')" />*@
                                            </td>
                                        </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /Add Home Slider modal-dialog -->
<div class="modal fade" id="AddEditHomeSlider" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <form id="homeSliderForm" action="/Admin/HomeSlider/AddEditHomeSlider">
            <div class="modal-dialog">
                <!-- Modal content-->
                
                    <input name="AssocitedID" id="HomesliderAssocitedID" type="hidden" />
               
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="Homesliderheader">Add Home Slider</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="popupBody">

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /Add Home Slider modal-dialog -->

<script>
    $('.homeslideradd').click(function () {
         $(".checktest").attr("required", true);

    })
    
    $(document).ready(function () {
        $('#HomeSliderTable').DataTable();

        $(document).on('submit', '#homeSliderForm', function (e) {
            // code
            $('#HomesliderAssocitedID').val($("#ddlusrlst").val());

           
        const fi = document.getElementById('file'); 
        // Check if any file is selected. 
        if (fi.files.length > 0) { 
            for (const i = 0; i <= fi.files.length - 1; i++) { 
  
                const fsize = fi.files.item(i).size; 
                const file = Math.round((fsize / 1024)); 
                // The size of the file. 
                if (file >=5120) { 
                   _showErrorMessage("Please select a Image less than 5mb");
                            
                          e.preventDefault();
                }
                //else if (file < 2048) { 
                //    alert( 
                //      "File too small, please select a file greater than 2mb"); 
                //} 
                else { 
                    
                        var form = $(this);
                        var url = form.attr('action');
                        var formData = new FormData($(this)[0]);
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: formData, // serializes the form's elements.
                            enctype: 'multipart/form-data',
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (data) {
                    
                   
                                 $("#AddEditHomeSlider").modal("hide");
                                _showSuccessMessage("Data Saved Successfully");
                                setTimeout(function () { location.reload(); }, 1500);
                            }
                        });
                        e.preventDefault();
                } 
            } 
        } 
    





        });
    });

    function AddHomeSlider(Id) {
        $("#Link").val('');
        $("#Id").val('');
        $.ajax({
            type: "POST",
            url: "/Admin/HomeSlider/GetHomeSlider",
            data: { Id: Id }, // serializes the form's elements.
            success: function (data) {
                 if (Id == null || Id == 0)
                    {
                        $("#Homesliderheader").html("Add Home Slider");
                    }
                    else
                    {
                        $("#Homesliderheader").html("Edit Home SLider");
                    }
                // show response from the php script.
                $("#popupBody").html(data);
                $("#AddEditHomeSlider").modal('show');
            }
        });
    }

    function DeleteHomeSlider(Id) {
        $("#DeleteConfirmationModal").modal('show');
        $(document).on('click', 'button#confirmation-yes', function () {
            $.ajax({
                type: "POST",
                url: "/Admin/HomeSlider/DeleteHomeSlider",
                data: { Id: Id }, // serializes the form's elements.
                success: function (data) {
                    //alert("Data Deleted Successfully"); // show response from the php script.
                    location.reload();
                }
            });
        });
    }


//        $('#AddEditHomeSlider').modal({
//                backdrop: 'static',
//                keyboard: false
//})
</script>
