@using University.Data.CustomEntities;
@using University.UI.Utilities;
@using University.Data;
@{
    var lst = (List<Login_tbl>)Session["UserList"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    @*<title>Universität</title>*@
    <title>LearnX</title>
    @*<link rel="icon" href="~/Images/Project Icon/home_icon.ico">*@
    <link rel="icon" href="~/Images/Learnx.jpg">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- bs-custom-file-input -->
    <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.css">
    <style>

        #image-preview {
            width: 250px;
            height: 250px;
            border: 1px solid #ddd;
        }

        .info-text {
            font-size: 0.7rem;
            color: #03A9F4;
        }

        .custom-file-label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .b-w-80 {
            width: 80px;
        }

        .justify-center {
            display: flex;
            justify-content: center;
        }

        .fa-edit {
            color: blue;
        }

        .fa-trash {
            color: red;
            margin-left: 5px;
        }

        .logo-icon {
            max-height: 35px;
            width: auto;
            background: #fff;
            padding: 2px;
        }

        .user-initials {
            height: 10px;
            width: 10px;
            //background: #fff;
            color: #000;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-name {
            position: relative;
        }

        .customer-id {
            position: absolute;
            top: 15px;
            left: 0;
            font-size: 0.6rem;
            color: #fff;
        }

        .pointer {
            cursor: pointer;
        }
    </style>
    @RenderSection("styles", required: false)

</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed control-sidebar-slide-open text-sm">

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>*@
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <!-- Toastr -->
    <script src="../../plugins/toastr/toastr.min.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/dist/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="~/dist/js/pages/dashboard2.js"></script>

    <script src="~/Scripts/custom.js"></script>

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom-0 text-sm">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/index" class="nav-link">Home</a>
                </li>*@

            </ul>

            <!-- Right navbar links -->
            @*<ul class="navbar-nav ml-auto pointer">
                    <li class="nav-item dropdown pointer" style="width:180px">
                        <div class="row pointer">
                            <div class="col-sm-6 pointer">
                                    @if (Session["RoleID"].ToString() == "4")
                                    {
                                        <div class="pointer">
                                            <select id="ddlusrlst" class="form-control pointer" style="width:208%">
                                                <option value="0">Select User</option>
                                                @foreach (var item in lst)
                                                {
                                                    if (Convert.ToInt32(Session["UserSessionIDs"]) == item.ID)
                                                    {
                                                        if (item.RoleID.ToString() == "5")
                                                        {
                                                            <option value="@item.ID" id="useridd" selected>@item.FirstName @item.LastName</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (item.RoleID.ToString() == "5")
                                                        {
                                                            <option value="@item.ID" id="useridd">@item.FirstName @item.LastName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    }


                            </div>
                        </div>
                    </li>
                     Messages Dropdown Menu
                    <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-comments"></i>
                                <span class="badge badge-danger navbar-badge">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <a href="#" class="dropdown-item">
                                     Message Start
                                    <div class="media">
                                        <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                Brad Diesel
                                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                            </h3>
                                            <p class="text-sm">Call me whenever you can...</p>
                                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                        </div>
                                    </div>
                                     Message End
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                     Message Start
                                    <div class="media">
                                        <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                John Pierce
                                                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                            </h3>
                                            <p class="text-sm">I got your message bro</p>
                                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                        </div>
                                    </div>
                                     Message End
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                     Message Start
                                    <div class="media">
                                        <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                Nora Silvester
                                                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                            </h3>
                                            <p class="text-sm">The subject goes here</p>
                                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                        </div>
                                    </div>
                                     Message End
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                            </div>
                        </li>
                     Notifications Dropdown Menu
                    <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-bell"></i>
                                <span class="badge badge-warning navbar-badge">15</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <span class="dropdown-item dropdown-header">15 Notifications</span>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                                    <span class="float-right text-muted text-sm">3 mins</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-users mr-2"></i> 8 friend requests
                                    <span class="float-right text-muted text-sm">12 hours</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-file mr-2"></i> 3 new reports
                                    <span class="float-right text-muted text-sm">2 days</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                            </div>
                        </li>
                    <li class="nav-item">
                            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                                <i class="fas fa-th-large"></i>
                            </a>
                        </li>
                </ul>*@
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">

                @*<span class="brand-text font-weight-light">Universität</span>*@
                <span class="brand-text font-weight-light">LearnX</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-2 mb-3 d-flex" style="margin-left:-15px;">
                    <div class="image" style="text-align:left">
                        @*<img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">*@
                        <div class="user-initials">
                            <img src="~/Images/Profileimages.png" class="img-circle elevation-2" alt="User Image">
                            @*@if (Session["CustomerName"] != null)
                                {
                                    if (@Session["CustomerName"].ToString().Split(' ').Length >= 2)
                                    {
                                        @Session["CustomerName"].ToString().Split(' ')[0][0]@Session["CustomerName"].ToString().Split(' ')[1][0];
                                    }
                                }*@

                        </div>
                    </div>
                    <div class="info" style="padding: 2px 5px;">
                        <a href="#" class="user-name">
                            @if (Convert.ToString(Session["RoleID"]) == "")
                            {
                                base.Response.Redirect("~/Login/Login");
                              //  @Url.Action("Login","Login")


                            }

                            else if (Convert.ToString(Session["RoleID"]) == "4")
                            {
                                @Session["AdminName"].ToString();
                            }
                            else if (Convert.ToString(Session["RoleID"]) == "5")
                            {
                                @Session["UserNamee"].ToString();
                            }
                            @*<span class="customer-id">
            CustomerId : @if (Session["Customer"] != null)
            {@Session["Customer"].ToString()}
        </span>*@
                        </a>
                    </div>
                </div>


                @*<div class="row ">
                        <div class="col-sm-6">
                            @if (Session["RoleID"].ToString() == "4")
                            {

                                    <div class="mt-2">
                                        <select id="ddlusrlst" class="form-control " style="width:208%">
                                            <option value="0">Select User</option>

                                            @foreach (var item in lst)
                                            {
                                                if (Convert.ToInt32(Session["UserSessionIDs"]) == item.ID)
                                                {
                                                    if (item.RoleID.ToString() == "5")
                                                    {

                                                        <option value="@item.ID" id="useridd" selected="true">@item.FirstName</option>
                                                    }
                                                }
                                                else
                                                {
                                                    if (item.RoleID.ToString() == "5")
                                                    {

                                                        <option value="@item.ID" id="useridd">@item.FirstName</option>
                                                    }
                                                }
                                            }

                                        </select>
                                    </div>
                                }

                        </div>
                    </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        @*<li class="nav-item pointer">
            <a class="nav-link">
                <i class="nav-icon fas fa-user-circle"></i>
                <p>
                    My IPSU Account
                </p>
            </a>
        </li>*@
                        <li class="nav-item">
                            <a href="~/Home/index" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>

                        @if (Convert.ToString(Session["RoleID"]) == "4")
                        {
                            <li class="nav-item pointer">
                                <a class="nav-link" href="~/Admin/User">
                                    <i class="nav-icon fas fa-user-circle"></i>
                                    <p>
                                        User List
                                    </p>
                                </a>
                            </li>

                        }
                        @if (Convert.ToString(Session["RoleID"]) == "5")
                        {
                            <li class="nav-item pointer">
                                <a class="nav-link" href="~/PaymentGateway/SaveCardDetails">
                                    <i class="nav-icon fas fa-user-circle"></i>
                                    <p>
                                        Add Card
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/Home/Category" class="nav-link">
                                    @*<i class="fas fa-chalkboard-teacher"></i>*@
                                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                    <p>
                                        Course
                                    </p>
                                </a>
                                @*</li>*@
                                @if (Session["_LayoutProductMenu"] != null && Session["RoleID"].ToString() == "5")
                                {

                                    var productMenu = Session["_LayoutProductMenu"] as List<ProductLayoutMenu>;

                                    if (productMenu.Count > 0)
                                    {
                                        <ul class="nav nav-treeview">
                                            @{

                                                var categories = productMenu.GroupBy(y => y.SubCategoryId).Select(y => y.FirstOrDefault());
                                            }


                                            <li class="nav-item">
                                                <a class="nav-link" href="/Home/Category">
                                                    @*<i class="far fa-circle nav-icon"></i>*@
                                                    <p>Category List</p>
                                                </a>
                                                @*</li>*@
                                                @foreach (var category in categories)
                                                {

                                                <li class="nav-item pointer">
                                                    <a class="nav-link">
                                                        @*<p onclick="window.location='/Products/ProductListByCategory?id=@category.SubCategoryId'">*@
                                                        <p style="white-space:normal">
                                                            @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(category.SubCategoryName.ToLower())
                                                            <i class="right fas fa-angle-left"></i>
                                                        </p>
                                                    </a>
                                                    <ul class="nav nav-treeview">
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="/Products/ProductListByCategory?id=@category.SubCategoryId">
                                                                @*<i class="far fa-circle nav-icon"></i>*@
                                                                <p >Course List</p>
                                                            </a>
                                                        </li>
                                                        @{
                                                            var products = productMenu.Where(y => y.SubCategoryId == category.SubCategoryId).ToList();
                                                        }
                                                        @foreach (var product in products)
                                                        {

                                                            <li class="nav-item">
                                                                <a class="nav-link" href="/Products/ProductsById?ProductId=@UrlSecurityManager.Encrypt(product.ProductId.ToString(), System.Configuration.ConfigurationManager.AppSettings["SecurityKey"])">
                                                                   
                                                                   
                                                                        
                                                                    <p style="white-space:normal">
                                                                        <i class="far fa-circle nav-icon" style="margin-left: -17px;"></i>
                                                                        @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(product.ProductName.ToLower())

                                                                    </p>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            </ul>
                                            @*</li>*@
                                        }


                                    }
                            </li>


                        }

                        @if (Convert.ToString(Session["RoleID"]) == "5")
                        {

                            <li class="nav-item">
                                <a href="~/UserGuide/UserGuide" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>
                                        User Guide
                                    </p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="~/Video/video" class="nav-link">
                                    <i class="nav-icon fas fa-video"></i>
                                    <p>
                                        Tutorial
                                    </p>
                                </a>
                            </li>
                            @*<li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book-reader"></i>
                    <p>
                        Training
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-map nav-icon"></i>
                            <p>Google Maps</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-map nav-icon"></i>
                            <p>Open Street Map</p>
                        </a>
                    </li>
                </ul>
            </li>*@
                        }
                        @if (Convert.ToString(Session["RoleID"]) == "4")
                        {
                            <li class="nav-item has-treeview menu-open">

                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-hand-holding-usd"></i>
                                    <p>
                                        Administration
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="~/Admin/SubCategory" class="nav-link">
                                            <i class="fa fa-list-alt nav-icon"></i>
                                            <p>Category</p>
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a href="/Admin/SubCategory/CategoryUserMappingList" class="nav-link">
                                            <i class="far fa-dot-circle nav-icon"></i>
                                            <p>Category User Mapping</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Admin/Product" class="nav-link">
                                            @*<i class="fab fa-product-hunt nav-icon"></i>*@
                                            <i class="nav-icon fas fa-chalkboard-teacher"></i>

                                            <p>Course</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Admin/HomeSlider" class="nav-link">
                                            <i class="fas fa-sliders-h nav-icon"></i>
                                            <p>Home Slider</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Admin/HomeBanner" class="nav-link">
                                            <i class="fas fa-image nav-icon"></i>
                                            <p>Home Banner</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Admin/FAQ" class="nav-link">

                                            <i class="far fa-question-circle nav-icon"></i>
                                            <p>FAQs</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Admin/ProductFeedback" class="nav-link">
                                            <i class="far fa-comments nav-icon"></i>
                                            <p>Course Feedback</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/Admin/GeneralFeedback" class="nav-link">
                                            <i class="fas fa-comment nav-icon"></i>
                                            @*<i class="far fa-comments nav-icon"></i>*@
                                            <p>Feedback</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @*@if (Convert.ToString(Session["RoleID"]) == "5")
        {

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <a class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Events
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Feedback
                    </p>
                </a>
            </li>
        }*@
                        <li class="nav-item">
                            <a class="nav-link" href="/Login/LogOut" onclick="preventBack()">

                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                @*<i class="nav-icon fas fa-th"></i>*@
                                <p>
                                    LOGOUT
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark" style="display:none">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer" style="text-align: end;">
            <strong>Copyright &copy; 2020-2021 <a href="">Xanthus</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                @*<b>Version</b> 3.0.1*@
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->

    @Html.Partial("_SizeAlertModal")
    @Html.Partial("_ConfirmModal")
    @RenderSection("scripts", required: false)

    @*<script>
            $("li#dynamic-nested-menu-link").on("click", "i", function (e) {
                //e.stopPropagation();
            });
        </script>*@

    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };



        $("#ddlusrlst").change(function () {
            //alert();
            var userID = $("#ddlusrlst").val();

            // window.location.href ="/Home/UserSessionID/" +userID ;
            $.post("/Home/UserSessionID/", { ID: userID }, function (result) { window.location.reload() });


        });
    </script>
</body>
</html>

