@model IEnumerable<University.UI.Areas.Admin.Models.FAQViewModel>

@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .pointer {
        cursor: pointer;
    }
    /*a {
        color: #0254EB
    }*/
    /*a:visited {
        color: #0254EB
    }*/
    a.morelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span {
        display: none;
    }

    .comment {
        width: 50%;
        /*background-color: #f0f0f0;*/
        margin: 10px;
    }

    .test {
        width: 100%
    }
</style>



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2" style="margin-top:10px">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">FAQs</h1>
            </div><!-- /.col -->
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/index">Administration</a></li>
                    <li class="breadcrumb-item active">FAQs</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row justify-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <button title="Add" type="button" class="btn btn-primary btn-sm b-w-80" onclick="AddFAQ()">
                                @*<button type="button" class="btn btn-primary btn-sm b-w-80 FAQadd" >*@
                                Add
                            </button>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="FAQTable" class="table table-bordered table-hover test">
                            <thead>
                                <tr>
                                    <th class="text-center">Question</th>
                                    <th class="text-center">Answer</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="more comment" title="@item.Question">@item.Question</td>
                                        <td class="more comment" title="@item.Answer">@item.Answer</td>
                                        <td class="text-center">
                                            <i title="Edit" class="fas fa-edit pointer" onclick="AddFAQ('@item.Id')"></i>
                                            <i title="Delete" class="fas fa-trash pointer" onclick="DeleteFAQ('@item.Id')"></i>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /Add Home Slider modal-dialog -->
<div class="modal fade" id="AddEditFAQ" data-backdrop="static" data-keyboard="false">
    <form id="faqForm" action="/Admin/FAQ/AddEditFAQ">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <input name="AssocitedID" id="FAQAssocitedID" type="hidden" />
                <div class="modal-header">
                    <h4 class="modal-title" id="FAQheader">FAQ</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="popupBody">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" title="Submit" id="UserRegisterationBtn">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /Add Home Slider modal-dialog -->

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    //$('.FAQadd').click(function () {
    //    if ($('#ddlusrlst').val() == 0)
    //    {
    //        _showErrorMessage("First Select User");
    //    }
    //    else
    //    {
    //        AddFAQ();
    //    }
    //})

    $(document).ready(function () {
        $('#FAQTable').DataTable();

        $('#UserRegisterationBtn').click(function () {
            var formValid = $('#faqForm').validate().form();
            if (!formValid)
                return false;
            else {
                var form = $(this);
                var url = form.attr('action');
                var formData = new FormData($(this)[0]);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData, // serializes the form's elements.
                    //enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        //$('.overlayNew').css({ "visibility": "visible", "opacity": "1" });
                        //alert("Data Saved Successfully"); // show response from the php script.
                        $("#AddEditFAQ").modal("hide");
                        _showSuccessMessage("Data Saved Successfully");
                        setTimeout(function () { location.reload(); }, 1500);
                    }
                });
                e.preventDefault();
            }
        });
    });

    function AddFAQ(Id) {
        $.ajax({
            type: "POST",
            url: "/Admin/FAQ/GetFAQ",
            data: { id: Id }, // serializes the form's elements.
            success: function (data) {
                if (Id == null || Id == 0) {
                    $("#FAQheader").html("Add FAQ");
                }
                else {
                    $("#FAQheader").html("Edit FAQ");
                }
                // show response from the php script.
                $("#popupBody").html(data);
                $("#AddEditFAQ").modal('show');
            }
        });
    }

    function DeleteFAQ(Id) {
        $("#DeleteConfirmationModal").modal('show');
        $(document).on('click', 'button#confirmation-yes', function () {
            $.ajax({
                type: "POST",
                url: "/Admin/FAQ/DeleteFAQ",
                data: { Id: Id }, // serializes the form's elements.
                success: function (data) {
                    //alert("Data Deleted Successfully"); // show response from the php script.
                    location.reload();
                }
            });
        });
    }
//FAQ dot dot start

 //   $(document).ready(function() {
    //var showChar = 30;
    //var ellipsestext = "...";
    //var moretext = "more";
    //var lesstext = "less";
    //$('.more').each(function() {
    //	var content = $(this).html();

    //	if(content.length > showChar) {

    //		var c = content.substr(0, showChar);
    //		var h = content.substr(showChar-1, content.length - showChar);

    //		var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span>';

    //		$(this).html(html);
    //	}

    //});

    //$(".morelink").click(function(){
    //	if($(this).hasClass("less")) {
    //		$(this).removeClass("less");
    //		$(this).html(moretext);
    //	} else {
    //		$(this).addClass("less");
    //		$(this).html(lesstext);
    //	}
    //	$(this).parent().prev().toggle();
    //	$(this).prev().toggle();
    //	return false;
    //});
//});

    //faq dot dot end






</script>
