@model University.UI.Areas.Admin.Models.CategoryMappingModel
@using University.Data;

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Choose Category</label>
            @Html.HiddenFor(y => y.ID)
          
            @Html.DropDownListFor(x => x.Id, new SelectList(Model.SubCategoryMasterlst, "Id", "Name"), "Select Category", new { @class = "form-control" })
            @*<select name="CategoryID" class="form-control" style="width: 100%;">
            <option value="0" selected>Select Category</option>
            @foreach (var item in Model.SubCategoryMasterlst)
            {

                if (item.AssocitedCustID == Convert.ToInt32(Session["AdminLoginID"]))
                {
                    <option value="@item.Id" name="CategoryID" id="CategoryID">@item.Name</option>
                }

            }
        </select>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Choose User</label>
            @Html.DropDownListFor(x => x.UserID, new SelectList(Model.Logintbllst, "ID", "FirstName"), "Select User", new { @class = "form-control" })
            @*<select name="UserID" class="form-control select2" style="width: 100%;">
                <option value="0" selected>Select User</option>
                @foreach (var item in Model.Logintbllst)
                {
                    if (item.RoleID.ToString() == "5")
                    {
                        <option value="@item.ID" id="useridd">@item.FirstName @item.LastName</option>
                    }
                }

            </select>*@
        </div>
    </div>
</div>
