@model University.UI.Areas.Admin.Models.SubCategoryViewModel
@using University.Data;
@{
    ViewBag.Title = "AddEditCategory";
    var lst = (List<Login_tbl>)Session["UserList"];
    //Layout = null;
}

@section styles{
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link href="~/dist/css/Loader.css" rel="stylesheet" />

}
<style>

    #image-preview {
        width: 250px;
        height: 250px;
    }

    .info-text {
        font-size: 0.7rem;
        color: #03A9F4;
    }
    /*.ShortText
    {
        color:red;
    }*/
    .pointer {
        cursor: pointer;
    }
</style>

<div id="dvLoader" style="display:none; margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
    <p style="position: absolute; color: White; top: 50%; left: 45%;">
        <img src="~/Images/ajax_loader.gif" id="loadingImg" />
    </p>
</div>

@*<div id="loaderring">
        <p class="loaderClass">
            <img src="~/Images/ajax_loader.gif" />
        </p>
    </div>*@
@Html.HiddenFor(m => m.Id)
<div class="form-group">
    <label for="email">Category Name</label>
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control txtOnly", @required = "required", @pattern = "^[^<>%$*@!#]*$",@maxlength="50"})
    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "", style = "color:red;" })
    @*@Html.ValidationMessageFor(m => m.Name)*@
</div>

<div class="form-group">
    <label class="info-text" for="ImageUrl" id="lblImageName" style="color:red;">Category Image <span class="ShortText">(Please ensure featured images are 250x250,Less than 2MB and .JPG format)</span></label>
    <div class="input-group">
        <div class="custom-file">
            @*<input type="file" id="file" name="file" class="form-control validateHeightWidth" accept="image/gif, image/png, image/jpeg, image/jpg" onchange="readURL(this);" />*@

            @*<input type="file" id="categoryfile" name="file" class="custom-file-input validateHeightWidthcheck" required accept="image/gif, image/png, image/jpeg, image/jpg" onchange="readURL(this);">*@
            <input type="file" id="categoryfile" name="file" class="custom-file-input  validateHeightWidth checktest" onchange="readURL(this);">

            @if (Model.ImageURL != "")
            {

                @*<input type="file" class="custom-file-input validateHeightWidthcheck" onchange="readURL(this)" ; value="@Model.ImageURL" />*@
                <label class="custom-file-label " id="CategoryFileLabel" for="exampleInputFile">@Model.ImageURL</label>
                @*<label id="image-preview">@Model.ImageURL</label>*@
            }
            else
            {
                <label class="custom-file-label" id="CategoryFileLabel" for="exampleInputFile">Category Image</label>
            }

        </div>
    </div>
    @Html.ValidationMessageFor(m => m.ImageURL, null, new { @class = "", style = "color:red;" })
    @*<img id="image-preview" src="@Model.ImageFullPath" alt="" class="imgStd" onerror="this.onerror = null; this.src = '/images/NoImageAvailable.jpg';" />*@
    <img id="image-preview" src="@Model.ImageFullPath" alt="" class="imgStd tttt" onerror="this.onerror = null; this.src = '/images/NoImageAvailable.jpg';" style="margin-top: 25px;" />

</div>
@*<div class="form-group">
        <label class="info-text" for="ImageUrl">Category Image <span class="ShortText">(Please ensure featured images are 250x250,Less than 2MB and .JPG format)</span></label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input validateHeightWidth" id="file" required accept="image/jpeg" onchange="readURL(this);">
                <label class="custom-file-label" for="exampleInputFile">Category Image</label>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.ImageURL)
        <img id="blah" src="@Model.ImageFullPath" alt="" class="imgStd" onerror="this.onerror = null; this.src = '/images/NoImageAvailable.jpg';" />
    </div>*@
<div class="form-group">
    <label for="ImageUrl">Image alt (SEO)</label>
    @Html.TextBoxFor(m => m.ImageALT, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ImageALT)
</div>
<script src="~/Scripts/ProjectValidation.js"></script>
<script>
    $(document).ready(function () {
    document.getElementById('loaderring').style.display = "none";
    //RegisterHandler();
});


    $(document).ready(function () {

        bsCustomFileInput.init();

        var image = "@Model.ImageURL";
        if (image) {
            $("#file").removeAttr("required");
        }

    });

    //function readURL(input) {
    //    if (input.files && input.files[0]) {
    //        var reader = new FileReader();
    //        reader.onload = function (e) {
    //            $('#image-preview').attr('src', e.target.result);
    //        };
    //        reader.readAsDataURL(input.files[0]);
    //    }
    //}
    function readURL(input) {

        if (input.files && input.files[0])
        {

            var reader = new FileReader();

            reader.onload = function (e)
            {
                $('#image-preview').attr('src', e.target.result);

            };
            reader.readAsDataURL(input.files[0]);

        }

    }

   
</script>
